In [20]:
import warnings as wrn
wrn.filterwarnings('ignore', category = DeprecationWarning) 
wrn.filterwarnings('ignore', category = FutureWarning) 
wrn.filterwarnings('ignore', category = UserWarning) 

import numpy as np
import seaborn as sb 
import pandas as pd
import matplotlib.pyplot as plt
import scipy as stats
# sb.set_style("whitegrid")

import plotly.graph_objs as go

In [21]:
data_exp = pd.read_csv('2010_2021_HS2_export.csv')
data_imp = pd.read_csv('2010_2021_HS2_import.csv')

In [22]:
print("Preview of export data:")
display(data_exp.sample(n=10))
# data.head()

print("Preview of import data:")
display(data_imp.sample(n=10))

Preview of export data:

,HSCode,Commodity,value,country,year
19038,40,RUBBER AND ARTICLES THEREOF.,0.04,FR POLYNESIA,2011
127612,6,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,0.00,IRAQ,2018
64789,61,"ARTICLES OF APPAREL AND CLOTHING ACCESSORIES, ...",4.31,GHANA,2014
97668,42,"ARTICLES OF LEATHER,SADDLERY AND HARNESS;TRAVE...",1.97,KYRGHYZSTAN,2016
5247,71,"NATURAL OR CULTURED PEARLS,PRECIOUS OR SEMIPRE...",NaN,GUINEA BISSAU,2010
17352,64,"FOOTWEAR, GAITERS AND THE LIKE; PARTS OF SUCH ...",0.89,COLOMBIA,2011
103038,61,"ARTICLES OF APPAREL AND CLOTHING ACCESSORIES, ...",0.06,ST LUCIA,2016
179947,14,VEGETABLE PLAITING MATERIALS; VEGETABLE PRODUC...,0.02,PERU,2021
83018,49,"PRINTED BOOKDS, NEWSPAPERS, PICTURES AND OTHER...",0.00,MACAO,2015
105493,52,COTTON.,3.02,ZAMBIA,2016

Preview of import data:

,HSCode,Commodity,value,country,year
82168,8,EDIBLE FRUIT AND NUTS; PEEL OR CITRUS FRUIT OR...,5.04,SPAIN,2019
97623,17,SUGARS AND SUGAR CONFECTIONERY.,28.63,NETHERLAND,2021
13154,58,SPECIAL WOVEN FABRICS; TUFTED TEXTILE FABRICS;...,NaN,NAMIBIA,2011
61767,28,INORGANIC CHEMICALS; ORGANIC OR INORGANIC COMP...,0.14,KOREA DP RP,2017
85089,40,RUBBER AND ARTICLES THEREOF.,0.24,CAMEROON,2020
38872,19,"PREPARATIONS OF CEREALS, FLOUR, STARCH OR MILK...",0.00,PERU,2014
44787,72,IRON AND STEEL,7.38,IRELAND,2015
31152,41,RAW HIDES AND SKINS (OTHER THAN FURSKINS) AND ...,0.02,ROMANIA,2013
57019,55,MAN-MADE STAPLE FIBRES.,NaN,TANZANIA REP,2016
46938,69,CERAMIC PRODUCTS.,0.57,OMAN,2015

In [23]:
def description(df):
    summary = pd.DataFrame(df.dtypes, columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values
    summary['Uniques'] = df.nunique().values
    summary['First Value'] = df.loc[0].values
    summary['Second Value'] = df.loc[1].values
    summary['Third Value'] = df.loc[2].values
    return summary

print("Variable discription of export data:")
display(description(data_exp))

print("Variable discription of import data:")
display(description(data_imp))

Variable discription of export data:

,Name,dtypes,Missing,Uniques,First Value,Second Value,Third Value
0,HSCode,int64,0,98,2,3,4
1,Commodity,object,0,98,MEAT AND EDIBLE MEAT OFFAL.,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...
2,value,float64,19258,12944,1.4,0.08,3.89
3,country,object,0,249,AFGHANISTAN,AFGHANISTAN,AFGHANISTAN
4,year,int64,0,12,2010,2010,2010

Variable discription of import data:

,Name,dtypes,Missing,Uniques,First Value,Second Value,Third Value
0,HSCode,int64,0,98,7,8,9
1,Commodity,object,0,98,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,EDIBLE FRUIT AND NUTS; PEEL OR CITRUS FRUIT OR...,"COFFEE, TEA, MATE AND SPICES."
2,value,float64,15745,11062,9.14,93.82,2.54
3,country,object,0,243,AFGHANISTAN,AFGHANISTAN,AFGHANISTAN
4,year,int64,0,12,2010,2010,2010

In [24]:
print("Export data with zero values:")
display(data_exp[data_exp.value == 0].head(5))

print("Export data with NAN:")
display(data_exp.isnull().sum())

print("Import data with zero values:")
display(data_imp[data_imp.value == 0].head(5))

print("Import data with NAN:")
display(data_imp.isnull().sum())

Export data with zero values:

,HSCode,Commodity,value,country,year
14,16,"PREPARATIONS OF MEAT, OF FISH OR OF CRUSTACEAN...",0.0,AFGHANISTAN,2010
21,23,RESIDUES AND WASTE FROM THE FOOD INDUSTRIES; P...,0.0,AFGHANISTAN,2010
31,35,ALBUMINOIDAL SUBSTANCES; MODIFIED STARCHES; GL...,0.0,AFGHANISTAN,2010
55,65,HEADGEAR AND PARTS THEREOF.,0.0,AFGHANISTAN,2010
56,66,"UMBRELLAS, SUN UMBRELLAS, WALKING-STICKS, SEAT...",0.0,AFGHANISTAN,2010

Export data with NAN:

HSCode           0
Commodity        0
value        19258
country          0
year             0
dtype: int64

Import data with zero values:

,HSCode,Commodity,value,country,year
5,16,"PREPARATIONS OF MEAT, OF FISH OR OF CRUSTACEAN...",0.0,AFGHANISTAN,2010
6,18,COCOA AND COCOA PREPARATIONS.,0.0,AFGHANISTAN,2010
9,27,"MINERAL FUELS, MINERAL OILS AND PRODUCTS OF TH...",0.0,AFGHANISTAN,2010
17,58,SPECIAL WOVEN FABRICS; TUFTED TEXTILE FABRICS;...,0.0,AFGHANISTAN,2010
18,63,OTHER MADE UP TEXTILE ARTICLES; SETS; WORN CLO...,0.0,AFGHANISTAN,2010

Import data with NAN:

HSCode           0
Commodity        0
value        15745
country          0
year             0
dtype: int64

In [25]:
data_exp = data_exp.dropna()
data_exp['country'] = data_exp['country'].replace({'U S A' : 'USA'})
data_exp = data_exp.reset_index(drop=True)

data_imp = data_imp.dropna()
data_imp['country'] = data_imp['country'].replace({'U S A' : 'USA'})
data_imp = data_imp.reset_index(drop=True)

In [26]:
export_year = data_exp.groupby('year').agg({'value' : 'sum'})
export_year = export_year.rename(columns={'value' : 'Export'})

import_year = data_imp.groupby('year').agg({'value' : 'sum'})
import_year = import_year.rename(columns={'value' : 'Import'})

export_year['Growth Rate(E)'] = export_year.pct_change()
import_year['Growth Rate(I)'] = import_year.pct_change()

total_year = pd.concat([export_year, import_year], axis = 1)
total_year['Trade Deficit'] = export_year.Export - import_year.Import

print('Export/Import and Trade Balance of India')
display(total_year)
print('Descriptive statistics')
display(total_year.describe())

Export/Import and Trade Balance of India

         Export  Growth Rate(E)     Import  Growth Rate(I)  Trade Deficit
year
2010  249801.18             NaN  369762.25             NaN     -119961.07
2011  305948.28        0.224767  489311.81        0.323315     -183363.53
2012  300384.32       -0.018186  490730.07        0.002898     -190345.75
2013  314388.61        0.046621  450192.99       -0.082606     -135804.38
2014  310321.02       -0.012938  448026.63       -0.004812     -137705.61
2015  262274.30       -0.154829  381000.97       -0.149602     -118726.67
2016  275835.27        0.051705  384350.29        0.008791     -108515.02
2017  303507.85        0.100323  465574.02        0.211327     -162066.17
2018  330058.64        0.087480  514071.33        0.104167     -184012.69
2019  313341.14       -0.050650  474701.75       -0.076584     -161360.61
2020  291789.46       -0.068780  394428.98       -0.169101     -102639.52
2021  421984.37        0.446195  613045.41        0.554261     -191061.04

Descriptive statistics

,Export,Growth Rate(E),Import,Growth Rate(I),Trade Deficit
count,12.000000,11.000000,12.000000,11.000000,12.000000
mean,306636.203333,0.059246,456266.375000,0.065641,-149630.171667
std,43052.939353,0.162889,69331.700692,0.219915,33102.919639
min,249801.180000,-0.154829,369762.250000,-0.169101,-191061.040000
25%,287800.912500,-0.034418,391909.307500,-0.079595,-183525.820000
50%,304728.065000,0.046621,457883.505000,0.002898,-149533.110000
75%,313603.007500,0.093901,489666.375000,0.157747,-119652.470000
max,421984.370000,0.446195,613045.410000,0.554261,-102639.520000